/* font-family: "Open Sans", sans-serif;
font-family: "Playfair Display", serif;
подключенные шрифты */

.container-1 {
  display: flex;
  flex-direction: column;
}

#box {
  border: 1px solid black;
  font-family: "Open Sans", sans-serif;
}

.box-1 {
  order: 1;
  flex-basis: 10vh;
  font-family: "Playfair Display", serif;
  font-size: large;
  display: flex;
  flex-direction: row;
  background-color: gray;
}

.box-1-1 {
  order: 1;
  flex-basis: 10%;
}

.box-1-2 {
  order: 2;
  flex-basis: 20%;
}

.box-1-3 {
  order: 3;
  flex-basis: 70%;
}

.box-2 {
  order: 2;
  flex-basis: 90vh;
  align-items: stretch;
}

.backImg {
  /* object-fit: contain; */
  height: 90vh;
  width: 100%;
}

.box-3 {
  order: 3;
  flex-basis: content;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.column-box-1 {
  flex: 1;
  order: 1;
  max-width: 17%;
  padding: 1em;
  /* flex-wrap: nowrap; */
}

.column-box-2 {
  flex: 1;
  order: 2;
  max-width: 17%;
  padding: 1em;
  /* flex-wrap: nowrap; */
}

.column-box-3 {
  flex: 1;
  order: 3;
  max-width: 17%;
  padding: 1em;
  /* flex-wrap: nowrap; */
}

.column-box-4 {
  flex: 1;
  order: 4;
  max-width: 17%;
  padding: 1em;
  /* flex-wrap: nowrap; */
}

#form_list {
  list-style-type: none;
}

#name_form {
  padding: 0.5em;
  margin: 0.5em;
  width: 80%;
}

#mail_form {
  padding: 0.5em;
  margin: 0.5em;
  width: 80%;
}

#checkbox_form {
  margin: 0.5em;
}

#button_form {
  padding: 0.5em;
  margin: 0.5em;
  width: 90%;
  background-color: black;
  color: aliceblue;
}

#button_form:hover {
  background-color: brown;
  color: aliceblue;
}

.about-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  display: flex;
  justify-content: space-between;
}

.left-1 {
  padding: 1em;
}

.left-2 {
  padding: 1em;
}

.left-3 {
  padding: 1em;
}

.left-4 {
  padding: 1em;
}

.left-5 {
  padding: 1em;
}

.left-6 {
  padding: 1em;
}

.center {
  display: flex;
  justify-content: right;
}

.center-1 {
  flex: 1;
  order: 1;
  padding: 0.5em;
  /* max-width: 10%; */
}

.center-2 {
  flex: 1;
  order: 2;
  padding: 0.5em;
  /* max-width: 10%; */
}

.center-3 {
  flex: 1;
  order: 3;
  padding: 0.5em;
  /* max-width: 10%; */
}

.right {
  display: flex;
  padding: 1em;
  justify-content: right;
  max-width: 15%;
}
